body{
    background: #FFFFFF;
}

#banner{
    width: 100%;
}

#principal{
    background: #cccccc;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong {
    color: #FF0000;
}


#beneficios{
    background: #FFFFFF;
    padding: 20px;
}

#beneficios ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
}

#beneficios li {
    font-style: italic;
}
.imagembeneficios{
    width: 50%;
}